{% extends 'common/ORS Common.html' %}
{% load static %}

{% load i18n %}
{% load account %}
<!-- Header end --> 
{% block pageheadername %}
<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Forgot Password</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#">Home</a> / <span>Forgot Password</span></div>
      </div>
    </div>
  </div>
</div>

<!-- Page Title End -->
{% endblock %}
{% block content %}
<div class="listpgWraper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="userccount">

    {% if user.is_authenticated %}

    {% include "account/snippets/already_logged_in.html" %}

    {% endif %}



    <p>{% trans  "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>


          <!-- form -->
  <form method="POST" id="reset_pass" action="{% url 'account_reset_password' %}"  email-validate-forget-password ="{% url 'email-validate-forget-password' %}" class="password_reset"> {% csrf_token %}
          <div class="formpanel">
            <div class="formrow">
              <input type="text" class="form-control" name="email" placeholder="Enter Email Address">
            </div>
            <input type="submit" class="btn" value="{% trans 'Reset My Password' %}">
          </div>
  </form>
          <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          <!-- form  end--> 
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block userscript %}
<script>
$("#reset_pass").validate({
    rules: {
        email: {required : true},
    },
    messages: {
            email: {required :'please enter email'},
    }
 });
   $("form").submit( function(event)
                     {
                        event.preventDefault();
                        var form = $(this);
                        $.ajax({
                                url:form.attr("email-validate-forget-password"),
                                data:form.serialize(),
                                type:'post',
                                datatype:'json',
                                success : function(data)
                                {
                                  if(data.content)
                                  {
                                      console.log(data);
                                      if(!data.user)
                                      {
                                        swal({title:"Invalid Pass",text:data.error_msg,icon:"warning"});
                                      }
                                      else
                                      {
                                        document.getElementById('reset_pass').submit();
                                      }
                                  }
                                  else
                                  {

                                    console.log(data);
                                  }
                                }

                        });
                  });
</script>
{% endblock %}
