{% extends 'common/ORS Common.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block pageheadername %}
<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Change Password</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#">Home</a> / <span>Change Password</span></div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->
{% endblock %}
{% block content %}
<div class="listpgWraper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="userccount">


          <!-- form -->
            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
          <!-- form  end-->

            </form></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

